@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import 'jobs-schedule.scss';

*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    font-size: 14px;
}

input[type=text], select {
    width: 100%;
    padding: 3px 9px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;

    &:hover {
        cursor: pointer;
    }
}

