.background-image {
    background: url('images/time.jpg');
    opacity: 0.08;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.move-alljobs-form {
    display: flex;

    button {
        width: 26px;
    }
}

.jobs-schedule-container {
    position: relative;

    .page-title {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;

    }

    .error {
        color: rgb(255, 65, 65);
        margin: 0 0 20px 0;
    }

    display: flex;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    flex-direction: column;

    .days-to-skip-container {
        margin: 0 0 20px 0;

        h4 {
            margin: 10px 0;
        }

        .days-list {
            display: flex;
            align-items: center;
            margin: 0 10px;
            color: #5d5d5d;

            div {
                display: flex;
                align-items: center;
            }

            input {
                margin: 0 5px 0 0;
            }

            label {
                margin: 0 10px 0 0;
            }
        }
    }

    .job-title {
        display: flex;
        margin: 0 0 10px 0;

        label {
            margin-left: auto;
        }
    }

    .job-list-container {
        display: flex;
        flex-direction: column;

        .list {
            display: flex;
            flex-wrap: wrap;

        }

        .job-list {
            height: 164px;
            overflow: auto;
        }

        .list-item {
            width: 200px;
            padding: 10px;
            margin: 10px;
            background: #fdfdfd;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

            .job-name {
                display: flex;
                padding: 5px;
                align-items: center;
                color: #5d5d5d;
                cursor: pointer;

                .days-input {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                }

                input {
                    width: 50px;
                }
    
                .action-buttons {
                    button img {
                        cursor: pointer;
                        width: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .list-item {
        width: 100% !important;
    }
}